.title {
  font-size: 1.5rem;
}

.button {
  padding: 0px 15px;
  display: inline-block;
  align-self: center;
  color: var(--clr-primary);
  font-weight: 700;
  text-decoration: none;
  line-height: 50px;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-color: var(--clr-accent);
  border: none;

  &:hover {
    transition: var(--transition);
    background-color: var(--clr-accent-hover);
    cursor: pointer;
  }
}

.form {
  transition: var(--transition);
}

.form-input {
  width: 100%;
  margin-bottom: 16px;
  padding: 20px 0 20px 0;
  font-size: 1.125rem;
  background: transparent;
  border: none;
  border-bottom: 1px solid gray;
  outline: none;
}

.form-button {
  padding: 0px 15px;
  display: inline-block;
  cursor: pointer;
  align-self: center;
  color: var(--clr-primary);
  font-weight: 700;
  line-height: 50px;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-color: var(--clr-accent);
  border: none;

  &:hover {
    transition: var(--transition);
    background-color: var(--clr-accent-hover);
  }
}
