/* Selectors */

html {
	scroll-behavior: smooth;
	font-size: 100%;
}

body {
	font-family: "El Messiri";
	color: #616060;
}

header {
	width: 100%;
	position: fixed;
	z-index: 999;
	box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.5);
}

header a {
	color: #616060;
}

/* Container max-width */

[class*="__container"] {
	max-width: 74.625em;
	margin: 0 auto;
}

/* Media Queries */

/* Wrapper */

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	overflow: hidden;
}

.content {
	flex: 1 1 auto;
	padding: 0px 15px;
}

/* Header */

.header {
	width: 100%;
	padding: 0px 20px;
	top: 0;
	left: 0;
	position: fixed;
	z-index: 50;
	transition: 0.4s;
}

.header::before {
	content: "";
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: absolute;
	z-index: 2;
	background-color: rgba(211, 211, 211, 0.8);
}

.header__name {
	text-transform: uppercase;
	z-index: 2;
}

.header__name:hover {
	transition: 0.5s;
	color: #000000;
}

.header__body {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 60px;
	position: relative;
}

.header__number {
	font-size: 0.875rem;
	z-index: 2;
}

.header__list {
	display: flex;
	gap: 80px;
	position: relative;
	z-index: 2;
}

.header__link {
	position: relative;
	padding: 0px 10px;
}

.header__link::after {
	content: "";
	position: absolute;
	background-color: #6c757d;
	height: 3px;
	width: 0;
	left: 0;
	bottom: -10px;
	transition: all 0.3s;
}

.header__link:hover {
	color: #000000;
}

.header__link:hover::after {
	width: 100%;
}

@media (max-width: 71.5em) {
	.header__number {
		display: none;
	}
}

/* Language */

.header__language {
	padding: 0px 30px 0px 30px;
	z-index: 2;
}

.header__language:hover ul {
	display: block;
}

.header__language ul {
	display: none;
	position: absolute;
	background-color: #fff;
	border: 1px solid #f8f8f8;
	box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
	border-radius: 5px;
}

.header__language ul li {
	display: flex;
	justify-content: space-between;
}

.header__language ul li a {
	display: block;
	width: 145px;
	padding: 5px 10px;
}

.header__language ul li a::before {
	content: "";
	display: inline-block;
	width: 32px;
	height: 32px;
	margin-right: 10px;
	vertical-align: middle;
	background-image: url("../img/icons/language/ukraine.svg");
}

.header__language ul li a:hover {
	background-color: #f2f2f2;
}

.header__language-selected {
	display: flex;
	justify-content: space-between;
	line-height: 2;
	cursor: pointer;
}

.header__language-selected::before {
	content: "";
	display: block;
	width: 32px;
	height: 32px;
	background-image: url("../img/icons/language/england.svg");
	margin-right: 10px;
}

/* Header Burger */

@media (max-width: 71.5em) {
	.header__burger {
		display: block;
		height: 20px;
		width: 30px;
		position: relative;
		order: 3;
		z-index: 3;
	}

	.header__burger span {
		height: 2px;
		width: 100%;
		top: 9px;
		left: 0;
		position: absolute;
		background-color: #000;
		transition: all 0.3s ease 0s;
	}

	.header__burger::before,
	.header__burger::after {
		content: "";
		height: 2px;
		width: 100%;
		left: 0;
		position: absolute;
		background-color: #000;
		transition: all 0.3s ease 0s;
	}

	.header__burger::before {
		top: 0;
	}

	.header__burger::after {
		bottom: 0;
	}

	.header__burger.active::before {
		top: 9px;
		transform: rotate(45deg);
	}

	.header__burger.active::after {
		bottom: 9px;
		transform: rotate(-45deg);
	}

	.header__burger.active span {
		transform: scale(0);
	}

	.header__menu {
		height: 100%;
		width: 100%;
		top: -100%;
		left: 0;
		position: fixed;
		padding: 70px 10px 0px 10px;
		background-color: #ffffff;
		transition: all 0.3s ease 0s;
		overflow: auto;
	}

	.header__menu.active {
		top: 0;
	}

	.header__body {
		height: 50px;
	}

	.header__logo {
		flex: 0 0 40px;
	}

	.header__list {
		display: block;
	}

	.header__list li {
		margin: 0px 0px 20px 0px;
	}

	.header__link {
		font-size: 1.5rem;
	}
}

/* Disabling out of burger menu scroll */

@media (max-width: 47.99875em) {
	body.lock {
		overflow: hidden;
	}
}

/* Fullsreen */

.fullscreen {
	display: flex;
	height: 100%;
	min-height: 100vh;
	margin: 0px 0px 100px 0px;
	background-image: url("../img/welcome_screen.png");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.fullscreen__body {
	display: flex;
	flex: 1 1 auto;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	margin: 0 auto;
	padding: 0px 20px;
	text-align: center;
}

.fullscreen__title {
	padding: 200px 0px 0px 0px;
	margin: 0px 0px 80px 0px;
	font-size: 2.75rem;
}

@media (max-width: 62.56125em) {
	.fullscreen__title {
		padding: 100px 0px 0px 0px;
		font-size: 2.5rem;
	}
}

.fullscreen__text {
	max-width: 72ch;
	margin: 0px auto;
	padding: 0px 0px 140px 0px;
	font-size: 1.125rem;
	line-height: 2;
}

.fullscreen__button {
	margin: 0px 0px 60px 0px;
}

.fullscreen__button:hover {
	transition: 0.5s;
	background-color: #d4a373;
}

.fullscreen__socials {
	display: flex;
	justify-content: flex-end;
	gap: 30px;
	padding: 0px 0px 50px 0px;
	position: relative;
	align-items: center;
	flex-wrap: wrap;
}

.fullscreen__socials a {
	display: inline-block;
	transition: 0.5s;
}

.fullscreen__socials a:hover {
	transform: translateY(-10px);
}

.fullscreen__socials img {
	width: 40px;
}

/* Biography */

.biography__body {
	background-image: url("../img/background-decor/paint.png");
	background-repeat: no-repeat;
	background-position: 31.5% 103%;
	padding: 0px 0px 100px 0px;
	margin: 0px 0px 80px 0px;
}

.biography {
	max-width: 1194px;
	margin: 0px auto;
	background-image: url("../img/biography/biography_bg.jpg");
	background-size: cover;
}

.biography__container {
	display: flex;
	padding: 100px 100px;
}

@media (max-width: 52.561em) {
	.biography__container {
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		padding: 40px 20px;
	}

	.biography__image {
		margin: 0px -50px 40px 0px;
	}
}

.biography__image {
	padding: 0px 50px 0px 0px;
}

.biography__image img {
	max-width: 100%;
}

.biography__title {
	margin: 0px 0px 35px 0px;
}

.biography__text {
	max-width: 60ch;
	margin: 0px 0px 30px 0px;
	line-height: 1.5;
	font-size: 1.125rem;
}

.biography__moretext {
	display: none;
	font-size: 1.125rem;
	line-height: 1.5;
}

.biography__button {
	display: inline-block;
	align-self: center;
	padding: 0px 20px;
	line-height: 50px;
	color: #616060;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 2px;
	background: url("../img/background-decor/orange.png") no-repeat left;
	background-size: 60%;
}

.biography__button:hover {
	transition: all 0.3s;
	color: #000000;
}

/* Certificate */

.certificate {
	margin: 0px 0px 80px 0px;
	background-image: url("../img/background-decor/paint.png");
	background-repeat: no-repeat;
	background-position: 65% 90%;
}

.certificate__title {
	text-align: center;
	margin: 0px 0px 40px 0px;
}

.certificate__row {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

.certificate__body {
	padding: 50px 0px 50px 15px;
	margin: 0px 20px;
	border: 40px solid;
	border-image: url("../img/certificate_bg.jpg") 50;
	background: url("../img/background-decor/orange.png") 0% 23% no-repeat;
}

@media (max-width: 65.125em) {
	.certificate__row {
		display: grid;
		grid-template-columns: 1fr;
		gap: 70px;
	}
	.certificate__body {
		margin: 0 auto;
	}
}

.certificate__text {
	max-width: 20ch;
	margin: 0px 0px 20px 0px;
	font-size: 1.125rem;
	line-height: 1.2;
}

/* Gallery */

.gallery {
	text-align: center;
}

.gallery__title {
	margin: 0px 0px 30px 0px;
}

.gallery__subtitle {
	margin: 0px 0px 30px 0px;
}

.gallery__images {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-template-rows: auto;
	gap: 7px;
	grid-template-areas:
		"img_1 img_1 img_2 img_2 img_3 img_4"
		"img_1 img_1 img_6 img_6 img_7 img_4"
		"img_5 img_5 img_6 img_6 img_8 img_8";
	margin: 0px 0px 100px 0px;
}

@media (max-width: 48.061em) {
	.gallery__images {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-areas:
			"img_1"
			"img_2"
			"img_3"
			"img_4"
			"img_5"
			"img_6"
			"img_7"
			"img_8";
		gap: 15px;
	}
	.gallery__button {
		width: 100%;
	}
}

.gallery__images .gallery__img {
	width: 100%;
	height: 250px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	cursor: pointer;
}

/* Gallery Images */

.gallery__images .img-1 {
	height: 510px;
	grid-area: img_1;
	background-image: url("../img/gallery/img_1.jpg");
}

.gallery__images .img-2 {
	grid-area: img_2;
	background-image: url("../img/gallery/img_2.jpg");
}

.gallery__images .img-3 {
	grid-area: img_3;
	background-image: url("../img/gallery/img_3.jpg");
}

.gallery__images .img-4 {
	height: 508.71px;
	grid-area: img_4;
	background-image: url("../img/gallery/img_4.jpg");
}

.gallery__images .img-5 {
	grid-area: img_5;
	background-image: url("../img/gallery/img_5.jpg");
}

.gallery__images .img-6 {
	height: 510px;
	grid-area: img_6;
	background-image: url("../img/gallery/img_6.jpg");
}

.gallery__images .img-7 {
	grid-area: img_7;
	background-image: url("../img/gallery/img_7.jpg");
}

.gallery__images .img-8 {
	grid-area: img_8;
	background-image: url("../img/gallery/img_8.jpg");
}

/* Gallery image titles */

.gallery__img div {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	background-color: #000000;
	opacity: 0;
}

.gallery__img a {
	font-size: 18px;
	color: #ffffff;
	text-transform: uppercase;
	text-decoration: none;
}

.gallery__img div:hover {
	opacity: 0.8;
	transition: all ease-in-out 0.3s;
}

/* Popup window when clicked */
.img-window {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.8);
	position: fixed;
	top: 0;
	left: 0;
	cursor: pointer;
	z-index: 100;
}

.img-window img {
	max-height: 80vh;
	max-width: 80vw;
}

/* Next image */

.img-btn-next {
	display: block;
	padding: 6px 10px;
	border-radius: 4px;
	background-color: #111111;
	position: fixed;
	top: 48vh;
	z-index: 500;
	font-size: 2rem;
	color: #ffffff;
	cursor: pointer;
	text-transform: uppercase;
}

.img-btn-next:hover {
	opacity: 0.8;
}

.img-btn-prev {
	display: block;
	padding: 6px 10px;
	border-radius: 4px;
	background-color: #111111;
	position: fixed;
	top: 48vh;
	z-index: 500;
	font-size: 2rem;
	color: #ffffff;
	cursor: pointer;
	text-transform: uppercase;
}

.img-btn-prev:hover {
	opacity: 0.8;
}

.gallery__button {
	margin: 0px 0px 60px 0px;
}

.gallery__button:hover {
	transition: 0.5s;
	background-color: #d4a373;
}

/* Interier */

.interier {
	text-align: center;
}

.interier__title {
	margin: 0px 0px 35px 0px;
}

.interier__images {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-template-rows: auto;
	gap: 7px;
	grid-template-areas:
		"img__1 img__1 img__1 img__2 img__2"
		"img__3 img__3 img__4 img__4 img__4";
}

@media (max-width: 48.061em) {
	.interier__images {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-areas:
			"img__1"
			"img__2"
			"img__3"
			"img__4";
		gap: 15px;
	}
}

.interier__images .interier__img {
	width: 100%;
	height: 500px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	cursor: pointer;
}

/* Gallery Images */

.interier__images .img__1 {
	height: 499px;
	grid-area: img__1;
	background-image: url("../img/interier/img_1.png");
}

.interier__images .img__2 {
	grid-area: img__2;
	background-image: url("../img/interier/img_2.png");
}

.interier__images .img__3 {
	grid-area: img__3;
	background-image: url("../img/interier/img_3.png");
}

.interier__images .img__4 {
	/* height: 510px; */
	grid-area: img__4;
	background-image: url("../img/interier/img_4.png");
}

/* Gallery image titles */

.interier__img div {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	background-color: #000000;
	opacity: 0;
}

.interier__img a {
	font-size: 18px;
	color: #ffffff;
	text-transform: uppercase;
	text-decoration: none;
}

.interier__img div:hover {
	opacity: 0.8;
	transition: all ease-in-out 0.3s;
}

/* Contact */
.contact {
	max-width: 1194px;
	margin: 0px auto;
	padding: 50px 0px 50px 70px;
	background-image: url("../img/conctact_bg.jpg");
	background-size: cover;
}

@media (max-width: 70.5em) {
	.contact {
		text-align: center;
		padding: 0px 20px;
	}

	.contact__container {
		display: flex;
		flex-direction: column;
	}

	.contact__control {
		display: flex;
		flex-direction: column;
		margin: 0 auto;
	}

	.contact__button {
		max-width: 600px;
		width: 100%;
	}
}

.contact__container {
	display: flex;
	gap: 30px;
}

.contact__text {
	font-size: 1.25rem;
	padding: 50px 0px 0px 0px;
}

.contact__text p:nth-child(1) {
	margin: 0px 0px 50px 0px;
}

.contact__text p {
	margin: 0px 0px 20px 0px;
}

.contact__form {
	padding-top: 20px;
	transition: all 4s ease-in-out;
}

.contact__control {
	max-width: 600px;
	width: 100%;
	background: transparent;
	border-bottom: 1px solid gray;
	font-size: 1.125rem;
	margin-bottom: 16px;
}

.contact input {
	min-height: 45px;
}

.contact__button {
	display: block;
	align-self: center;
	margin: 0px 0px 60px 0px;
	padding: 0px 15px;
	color: #616060;
	font-weight: 700;
	line-height: 50px;
	text-transform: uppercase;
	letter-spacing: 2px;
	background-color: #e8d7ac;
}

.contact__button:hover {
	transition: 0.5s;
	background-color: #d4a373;
	cursor: pointer;
}

/* Footer */
.footer {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 25px 50px;
	color: #ffffff;
	background: rgb(40, 37, 37);
	background: linear-gradient(
		90deg,
		rgb(40, 37, 37) 0%,
		rgb(223, 223, 232) 100%
	);
}

@media (max-width: 52.75em) {
	.footer {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		padding: 25px 40px 20px 0px;
	}

	.footer__socials {
		align-self: flex-end;
		order: 3;
	}

	.footer__socials a {
		display: inline-block;
		transition: 0.5s;
	}

	.footer__socials a:hover {
		transform: translateY(-10px);
	}

	.footer__copyright {
		display: flex;
		justify-content: flex-start;
		padding: 0px 0px 30px 0px;
	}

	.footer__contacts {
		display: flex;
		flex-direction: column;
		padding: 0px 0px 20px 0px;
	}
}

.footer__contacts {
	display: flex;
	gap: 30px;
	margin: 0px 0px 0px 30px;
}

.footer__copyright {
	margin: 0px 0px 0px 30px;
}

.footer__socials {
	display: flex;
	align-items: center;
	gap: 30px;
}

.footer__socials a {
	display: inline-block;
	transition: 0.5s;
}

.footer__socials a:hover {
	transform: translateY(-10px);
}

.footer__socials img {
	width: 40px;
}

.footer__socials p {
	margin: 0px 0px 0px 30px;
}

/* Other classes */

.title {
	font-size: 1.5rem;
}

.button {
	display: inline-block;
	align-self: center;
	padding: 0px 15px;
	color: #616060;
	font-weight: 700;
	line-height: 50px;
	text-transform: uppercase;
	letter-spacing: 2px;
	background-color: #e8d7ac;
}

.button:hover {
	transition: 0.5s;
	background-color: #d4a373;
	cursor: pointer;
}
