.footer {
	padding: 25px 50px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	color: #ffffff;
	background-color: rgb(40, 37, 37);
	background: linear-gradient(
		90deg,
		rgb(40, 37, 37) 0%,
		rgb(223, 223, 232) 100%
	);
}

@media (max-width: 52.75em) {
	.footer {
		padding: 25px 40px 20px 0px;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}

	.footer__socials {
		align-self: flex-end;
		order: 3;
	}

	.footer__socials a {
		display: inline-block;
		transition: 0.5s;
	}

	.footer__socials a:hover {
		transform: translateY(-10px);
	}

	.footer__copyright {
		padding-bottom: 30px;
		display: flex;
		justify-content: flex-start;
	}

	.footer__contacts {
		display: flex;
		flex-direction: column;
		padding-bottom: 20px;
	}
}

.footer__socials {
	display: flex;
	align-items: center;
	gap: 30px;
}

.footer__copyright {
	padding-left: 30px;
}

.footer__contacts {
	padding-left: 30px;
	display: flex;
	gap: 30px;
}

.footer__socials a {
	display: inline-block;
	transition: 0.5s;
}

.footer__socials a:hover {
	transform: translateY(-10px);
}

.footer__socials img {
	width: 40px;
}
