html {
	scroll-behavior: smooth;
	font-size: 100%;
}

body {
	font-family: "El Messiri";
	color: #616060;
	align-items: center;
}

header {
	width: 100%;
	position: fixed;
	z-index: 999;
	box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.5);
}

header a {
	color: #616060;
}

/* Container max-width */

[class*="__container"] {
	max-width: 74.625em;
	margin: 0 auto;
}

/* Wrapper */

.wrapper {
	min-height: 100vh;
	padding: 0px 15px;
	display: flex;
	flex: 1 1 auto;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	overflow: hidden;
	background: url("../img/welcome_screen.png") no-repeat fixed;
	background-size: cover;
}

.content {
	padding: 0px 15px;
	flex: 1 1 auto;
}

/* Header */

.header {
	width: 100%;
	padding: 0px 20px;
	top: 0;
	left: 0;
	position: fixed;
	z-index: 50;
	transition: 0.4s;
}

.header::before {
	content: "";
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: absolute;
	z-index: 2;
	background-color: rgba(211, 211, 211, 0.8);
}

.header__body {
	height: 60px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
}

.header__name {
	text-transform: uppercase;
	z-index: 2;
}

.header__name:hover {
	transition: 0.5s;
	color: #000000;
}

.header__number {
	padding: 0px 30px;
	font-size: 0.875rem;
	z-index: 2;
}

@media (max-width: 70.688em) {
	.header__number {
		display: none;
	}
}

.header__list {
	display: flex;
	gap: 80px;
	position: relative;
	z-index: 2;
}

.header__link {
	position: relative;
}

.header__link::after {
	content: "";
	position: absolute;
	background-color: #6c757d;
	height: 3px;
	width: 0;
	left: 0;
	bottom: -10px;
	transition: all 0.3s;
}

.header__link:hover {
	color: #000000;
}

.header__link:hover::after {
	width: 100%;
}

/* Language */

.header__language {
	padding: 0px 30px 0px 30px;
	z-index: 2;
}

.header__language ul {
	display: none;
	position: absolute;
	background-color: #fff;
	border: 1px solid #f8f8f8;
	box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
	border-radius: 5px;
}

.header__language ul li {
	display: flex;
	justify-content: space-between;
}

.header__language ul li a {
	width: 145px;
	padding: 5px 10px;
	display: block;
}

.header__language ul li a::before {
	content: "";
	height: 32px;
	width: 32px;
	margin-right: 10px;
	display: inline-block;
	vertical-align: middle;
	background-image: url("../img/icons/language/england.svg");
}

.header__language:hover ul {
	display: block;
}

.header__language ul li a:hover {
	transition: 0.5s;
	background-color: #f2f2f2;
}

.header__language-selected {
	width: 105px;
	line-height: 2;
	display: flex;
	justify-content: space-between;
	cursor: pointer;
}

.header__language-selected::before {
	content: "";
	height: 32px;
	width: 32px;
	display: block;
	background-image: url("../img/icons/language/ukraine.svg");
}

/* Header Burger */

@media (max-width: 70.688em) {
	.header__burger {
		display: block;
		height: 20px;
		width: 30px;
		position: relative;
		order: 3;
		z-index: 3;
	}

	.header__burger span {
		height: 2px;
		width: 100%;
		top: 9px;
		left: 0;
		position: absolute;
		background-color: #000;
		transition: all 0.3s ease 0s;
	}

	.header__burger::before,
	.header__burger::after {
		content: "";
		height: 2px;
		width: 100%;
		left: 0;
		position: absolute;
		background-color: #000;
		transition: all 0.3s ease 0s;
	}

	.header__burger::before {
		top: 0;
	}

	.header__burger::after {
		bottom: 0;
	}

	.header__burger.active::before {
		top: 9px;
		transform: rotate(45deg);
	}

	.header__burger.active::after {
		bottom: 9px;
		transform: rotate(-45deg);
	}

	.header__burger.active span {
		transform: scale(0);
	}

	.header__menu {
		height: 100%;
		width: 100%;
		top: -100%;
		left: 0;
		position: fixed;
		padding: 70px 10px 0px 10px;
		background-color: #ffffff;
		transition: all 0.3s ease 0s;
		overflow: auto;
	}

	.header__menu.active {
		top: 0;
	}

	.header__body {
		height: 50px;
	}

	.header__logo {
		flex: 0 0 40px;
	}

	.header__list {
		display: block;
	}

	.header__list li {
		margin: 0px 0px 20px 0px;
	}

	.header__link {
		font-size: 1.5rem;
	}
}

/* Disabling out of burger menu scroll */

@media (max-width: 70.688em) {
	body.lock {
		overflow: hidden;
	}
}

.return {
	color: #616060;
}

.return:hover {
	color: #000000;
	transition: 0.3s;
}
/* Gallery */

.gallery {
	margin: 100px 0px -70px 0px;
}

.gallery__title {
	font-size: 1.5rem;
	margin: 20px 0px 30px 0px;
}

.gallery__images {
	margin: 0px 0px 100px 0px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-template-rows: auto;
	gap: 7px;
	grid-template-areas:
		"img_1 img_1 img_2 img_2 img_3"
		"img_4 img_5 img_5 img_6 img_6"
		"img_7 img_8 img_8 img_9 img_9"
		"img_10 img_11 img_11 img_11 img_11";
}

@media (max-width: 48.061em) {
	.gallery__images {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-areas:
			"img_1"
			"img_2"
			"img_3"
			"img_4"
			"img_5"
			"img_6"
			"img_7"
			"img_8"
			"img_9"
			"img_10"
			"img_11";
		gap: 15px;
	}
}

.gallery__images .gallery__img {
	height: 250px;
	width: 100%;
	background: no-repeat center;
	background-size: cover;
	cursor: pointer;
}

/* Gallery Images */

.gallery__images .img-1 {
	height: 510px;
	grid-area: img_1;
	background-image: url("../img/gallery/img_1.jpg");
}

.gallery__images .img-2 {
	height: 510px;
	grid-area: img_2;
	background-image: url("../img/gallery/img_2.jpg");
}

.gallery__images .img-3 {
	height: 510px;
	grid-area: img_3;
	background-image: url("../img/gallery/img_3.jpg");
}

.gallery__images .img-4 {
	height: 510px;
	grid-area: img_4;
	background-image: url("../img/gallery/img_4.jpg");
}

.gallery__images .img-5 {
	height: 510px;
	grid-area: img_5;
	background-image: url("../img/gallery/img_5.jpg");
}

.gallery__images .img-6 {
	height: 510px;
	grid-area: img_6;
	background-image: url("../img/gallery/img_6.jpg");
}

.gallery__images .img-7 {
	grid-area: img_7;
	background-image: url("../img/gallery/img_7.jpg");
}

.gallery__images .img-8 {
	grid-area: img_8;
	background-image: url("../img/gallery/img_8.jpg");
}

.gallery__images .img-9 {
	grid-area: img_9;
	background-image: url("../img/gallery/img_9.jpg");
}

.gallery__images .img-10 {
	grid-area: img_10;
	background-image: url("../img/gallery/img_10.jpg");
}

.gallery__images .img-11 {
	grid-area: img_11;
	background-image: url("../img/gallery/img_11.jpg");
}

/* Gallery image titles */

.gallery__img div {
	height: 100%;
	width: 100%;
	padding: 0px 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	opacity: 0;
	background-color: #000000;
}

.gallery__img div:hover {
	opacity: 0.8;
	transition: all ease-in-out 0.3s;
}

.gallery__img a {
	font-size: 18px;
	color: #ffffff;
	text-transform: uppercase;
}

/* Popup window when clicked */

.img-window {
	height: 100vh;
	width: 100vw;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(0, 0, 0, 0.8);
	position: fixed;
	cursor: pointer;
	z-index: 100;
}

.img-window img {
	max-height: 80vh;
	max-width: 80vw;
}

/* Next image */

.img-btn-next {
	padding: 6px 10px;
	top: 48vh;
	position: fixed;
	display: block;
	border-radius: 4px;
	font-size: 2rem;
	text-transform: uppercase;
	color: #ffffff;
	cursor: pointer;
	z-index: 500;
	background-color: #111111;
}

.img-btn-next:hover {
	opacity: 0.8;
}

.img-btn-prev {
	padding: 6px 10px;
	top: 48vh;
	position: fixed;
	display: block;
	border-radius: 4px;
	font-size: 2rem;
	text-transform: uppercase;
	color: #ffffff;
	cursor: pointer;
	z-index: 500;
	background-color: #111111;
}

.img-btn-prev:hover {
	opacity: 0.8;
}

.gallery__button {
	margin: 0px 0px 100px 0px;
}

.gallery__button:hover {
	transition: 0.5s;
	background-color: #d4a373;
}

/* Footer */
.footer {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 25px 50px;
	color: #ffffff;
	background-color: rgb(40, 37, 37);
	background: linear-gradient(
		90deg,
		rgb(40, 37, 37) 0%,
		rgb(223, 223, 232) 100%
	);
}

@media (max-width: 52.75em) {
	.footer {
		padding: 25px 40px 20px 0px;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}

	.footer__socials {
		align-self: flex-end;
		order: 3;
	}

	.footer__socials a {
		display: inline-block;
		transition: 0.5s;
	}

	.footer__socials a:hover {
		transform: translateY(-10px);
	}

	.footer__copyright {
		padding-bottom: 30px;
		display: flex;
		justify-content: flex-start;
	}

	.footer__contacts {
		display: flex;
		flex-direction: column;
		padding-bottom: 20px;
	}
}

.footer__socials {
	display: flex;
	align-items: center;
	gap: 30px;
}

.footer__copyright {
	padding-left: 30px;
}

.footer__contacts {
	padding-left: 30px;
	display: flex;
	gap: 30px;
}

.footer__socials a {
	display: inline-block;
	transition: 0.5s;
}

.footer__socials a:hover {
	transform: translateY(-10px);
}

.footer__socials img {
	width: 40px;
}
