header {
	width: 100%;
	position: fixed;
	z-index: 999;
	box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.5);
}

header a {
	color: #616060;
}

/* Header */

.header {
	width: 100%;
	padding: 0px 20px;
	top: 0;
	left: 0;
	position: fixed;
	z-index: 50;
	transition: 0.4s;
}

.header::before {
	content: "";
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: absolute;
	z-index: 2;
	background-color: rgba(211, 211, 211, 0.8);
}

.header__body {
	height: 60px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
}

.header__name {
	text-transform: uppercase;
	z-index: 2;
}

.header__name:hover {
	transition: 0.5s;
	color: #000000;
}

.header__number {
	padding: 0px 30px;
	font-size: 0.875rem;
	z-index: 2;
}

@media (max-width: 60.688em) {
	.header__number {
		display: none;
	}
}

.header__list {
	display: flex;
	gap: 80px;
	position: relative;
	z-index: 2;
}

.header__link {
	position: relative;
}

.header__link::after {
	content: "";
	position: absolute;
	background-color: #6c757d;
	height: 3px;
	width: 0;
	left: 0;
	bottom: -10px;
	transition: all 0.3s;
}

.header__link:hover {
	color: #000000;
}

.header__link:hover::after {
	width: 100%;
}

/* Language */

.header__language {
	padding: 0px 30px 0px 30px;
	z-index: 2;
}

.header__language ul {
	display: none;
	position: absolute;
	background-color: #fff;
	border: 1px solid #f8f8f8;
	box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
	border-radius: 5px;
}

.header__language ul li {
	display: flex;
	justify-content: space-between;
}

.header__language ul li a {
	width: 145px;
	padding: 5px 10px;
	display: block;
}

.header__language ul li a::before {
	content: "";
	height: 32px;
	width: 32px;
	margin-right: 10px;
	display: inline-block;
	vertical-align: middle;
	background-image: url("../img/icons/language/england.svg");
}

.header__language:hover ul {
	display: block;
}

.header__language ul li a:hover {
	transition: 0.5s;
	background-color: #f2f2f2;
}

.header__language-selected {
	width: 120px;
	line-height: 2;
	display: flex;
	justify-content: space-between;
	cursor: pointer;
}

.header__language-selected::before {
	content: "";
	height: 32px;
	width: 32px;
	display: block;
	background-image: url("../img/icons/language/ukraine.svg");
}

/* Header Burger */

@media (max-width: 60.688em) {
	.header__burger {
		display: block;
		height: 20px;
		width: 30px;
		position: relative;
		order: 3;
		z-index: 3;
	}

	.header__burger span {
		height: 2px;
		width: 100%;
		top: 9px;
		left: 0;
		position: absolute;
		background-color: #000;
		transition: all 0.3s ease 0s;
	}

	.header__burger::before,
	.header__burger::after {
		content: "";
		height: 2px;
		width: 100%;
		left: 0;
		position: absolute;
		background-color: #000;
		transition: all 0.3s ease 0s;
	}

	.header__burger::before {
		top: 0;
	}

	.header__burger::after {
		bottom: 0;
	}

	.header__burger.active::before {
		top: 9px;
		transform: rotate(45deg);
	}

	.header__burger.active::after {
		bottom: 9px;
		transform: rotate(-45deg);
	}

	.header__burger.active span {
		transform: scale(0);
	}

	.header__menu {
		height: 100%;
		width: 100%;
		top: -100%;
		left: 0;
		position: fixed;
		padding: 70px 10px 0px 10px;
		background-color: #ffffff;
		transition: all 0.3s ease 0s;
		overflow: auto;
	}

	.header__menu.active {
		top: 0;
	}

	.header__body {
		height: 50px;
	}

	.header__logo {
		flex: 0 0 40px;
	}

	.header__list {
		display: block;
	}

	.header__list li {
		margin: 0px 0px 20px 0px;
	}

	.header__link {
		font-size: 1.5rem;
	}
}

/* Disabling out of burger menu scroll */

@media (max-width: 60.688em) {
	body.lock {
		overflow: hidden;
	}
}
